explained_variance_score:
  title: Explained Variance Score (EVS)
  ylabel: Score
  ymin: 
  ymax: 1.0

r2_score:
  title: $R^2$ Score
  ylabel: Score
  ymin: 
  ymax: 1.0

mean_absolute_error:
  title: Mean Absolute Error (MAE)
  ylabel: Error
  ymin: 0.0
  ymax: 

mean_absolute_percentage_error:
  title: Mean Absolute Percentage Error (MAPE)
  ylabel: Error
  ymin: 0.0
  ymax: 100.0

mean_squared_error:
  title: Mean Squared Error (MSE)
  ylabel: Error
  ymin: 0.0
  ymax: 

mean_squared_log_error:
  title: Mean Squared Logarithmic Error (MSLE)
  ylabel: Error
  ymin: 0.0
  ymax: 

median_absolute_error:
  title: Median Absolute Error (MedAE)
  ylabel: Error
  ymin: 0.0
  ymax: 